@use './variables.scss';
@use './reset.scss';
body {
	// background-color: #d8d2d2;
	font-family: Arial, sans-serif;
	color: #333;
	font-family: 'Montserrat';
}
.container {
	max-width: 1208px;
	margin: 0 auto;
}
